{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Author Section -->" | safeHTML}}
<section id="author" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          <h2>Meet our Team</h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      {{ range $Data.Pages }}
      {{ .Render "article" }}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /author -->" | safeHTML}}

{{ end }}
