{{ $imagewbp := .Params.Image_webp }}
{{ $image := .Params.Image }}
{{ if (in .Params.Bangla "true") }}
  {{ $class = "bangla" }}
{{ else }}
  {{ $class = "some value" }}
{{ end }}
<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4 {{$class}}" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      {{with .Params.Image}}
        <img class="img-fluid lozad" data-src="{{ $imagewbp | absURL }}" onerror="this.onerror=null;this.src='{{ $image | absURL }}'">
      {{end}}
    </div>

    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      {{ if (in .Params.Chapter "true") }}
        <!-- empty -->
      {{else}}
        <p>{{ .Summary }}</p>
      {{end}}
      <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
