{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInDown">
          {{ if gt ( len .Title) 0 }}
            <div class="title text-center wow fadeInDown">
              <h2><span class="color">{{ .Title }}</span></h2>
              <div class="border-meghna"></div>
            </div>
          {{else}}
            <h2>{{ with i18n "blogTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
                {{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }}</span>
            </h2>
            <div class="border-meghna"></div>
          {{end}}
        </div>
        {{with .Params.Image}}            
          <img class="img-fluid mb-50 lozad" data-src="{{ . | absURL }}" alt="blog-image">
        {{end}}
        {{if gt (len .Content) 0}}  
        <div class="col-lg-8 offset-lg-2">
          <div class="post-single-content">
            {{ .Content }}
          </div>
        </div>
        {{end}}
      </div>
      {{"<!-- /section title -->" | safeHTML}}
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
      {{with .Params.Author_bio}}
      <div class="mt-2">
        {{ . }}
      </div>
      {{end}}
      {{if gt (len .Content) 0}}  
        {{ if site.Params.post_share }}
          {{ partial "post-share.html" . }}
        {{ end }}
      {{end}}
    </div>
  </div>
</section>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
