{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          <!-- <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li> -->
          <li class="list-inline-item">{{ .Params.Author }}</li>
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul>
        {{with .Params.Image }}
          <img class="img-fluid mb-50 lozad" data-src="{{ . | absURL }}" alt="blog-image">
        {{end}}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        <div class="mt-2">
          {{ .Params.Author_bio }}
        </div>
        {{ if gt (len .Params.tags ) 0 }}
          <div class="mt-2 topics">
            <ul class="tags">
              <i class="ti-tag"></i>
              {{ range .Params.tags }}
              <li><a href="/tags/{{ replace . " " "-" }}">{{ . }}</a></li>
              {{end}}
            </ul>
          </div>
        {{end}}
        {{ if site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
