{{ define "main" }}

{{ partial "navigation.html" . }}

{{ $class := "some value" }}
{{ if (in .Params.Bangla "true") }}
  {{ $class = "bangla" }}
{{ else }}
  {{ $class = "some value" }}
{{ end }}
{{ partial "breadcrumbs.html" . }}
<section class="section {{$class}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          <!-- <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li> -->
          <li class="list-inline-item">{{ .Params.Author }}</li>
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul>
        {{with .Params.Image }}
          <img class="img-fluid mb-50 lozad" data-src="{{ . | absURL }}" alt="blog-image">
        {{end}}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if or (in .Params.previous "true") (in .Params.next "true") }}
        <nav aria-label="Page navigation example">
          <ul class="chapter pagination">
          {{ if (in .Params.previous "true") }}
            {{ $i := .Params.index }}
            {{ $i := sub $i 1 }}
            {{$filename := .File.BaseFileName }}
            {{$previous := (replaceRE "[0-9]" $i $filename) }}
            {{$link := replace .Permalink .File.BaseFileName $previous}}           
            <li class="page-item"><a class="page-link" href="{{$link}}" >Previous</a></li>
          {{end}}
          {{ if (in .Params.next "true") }}
            {{ $i := .Params.index }}
            {{ $i := add $i 1 }}
            {{$filename := .File.BaseFileName }}
            {{$next := (replaceRE "[0-9]" $i $filename) }}
            {{$link := replace .Permalink .File.BaseFileName $next}}
            <li class="page-item"><a class="page-link" href="{{$link}}">Next</a></li>
          {{end}}
          </ul>
        </nav>
        {{end}}
        <div class="mt-2">
          {{ .Params.Author_bio }}
        </div>
        {{ if gt (len .Params.tags ) 0 }}
          <div class="mt-2 topics">
            <ul class="tags">
              <i class="fas fa-tag"></i>
              {{ range .Params.tags }}
              <li><a href="/tags/{{ replace . " " "-" }}">{{ . }}</a></li>
              {{end}}
            </ul>
          </div>
        {{end}}
      </div>
    </div>
  </div>
</section>
{{ if site.Params.enable_likes }}
<section class="mobile-likes">
  <div class="container likes">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <i class="fas fa-thumbs-up" onclick="registerLike()"><span class="nolikes"></span></i>
      </div>
    </div>
  </div>
</section>
<div class="desktop-likes">
  <div class="likes">
    <i class="fas fa-thumbs-up" onclick="registerLike()" ><span class="nolikes">
    </span></i>
  </div>
</div>
<div class="alert alert-info" role="alert" style="display:none">
  This is a info alert—check it out!
</div>
{{end}}
{{ if site.Params.post_share }}
  <div class="desktop-share">
    {{ partial "post-share.html" . }}
  </div>
  <section class="mobile-share">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          {{ partial "post-share.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
<!-- comments -->
<div class="mt-5">
  {{ template "_internal/disqus.html" . }}
</div>

{{ end }}
