.client-meta span{
    color:white;
}
.member-meta span{
    color:white;
}
.social-icon ul li a i{
    color:white;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:white;
    background-color:#2c9091;
}
.clndr .ti-calendar{
    margin-right: 10px;
}
.post-single-content{
    color:white;
}
.speaker{
    width:12%;
    display: inline-block;
}
.bio{
    display: inline-block;
    color:white;
}
.bio span{
    font-size: 1.2rem;
}
.mobile{
    display: none;
}
@media only screen and (max-device-width: 768px) {
    .hero-area{
        height: 70vh;
    }
    .event-btns .btn-main{
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .mobile .js-search {
        width: 300px;
        padding-top: 10px;
    }
    
}

blockquote p{
    font-size:20px;
}
blockquote {
    background-color:#2c9091 ;
    line-height: 25px;
}

.search-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .js-search{
    position: relative;
    padding: 10px 25px 10px 30px;
    width: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: #1d2024;
    transition: width 0.4s ease;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid #2c9091;
  }
    .js-search:focus{
    width: 300px; 
}
  
  .search-container i{
    position: relative;
    left: -37px;
    color: #fff;
  }
  .nav-search{
      margin-left:10px;
  }
  .js-search::placeholder{
    color:#fff
}
.tags li{
    list-style: none;
    float: left;
    background: teal;
    border-radius: 4px;
    margin: 2px;
    padding:10px
}
.tags li a:hover {
    color: #1d2024
}
.topics{
    display: flex;
}
.topics .tags{
    padding:10px;
}
.subscription a{
    color:#57cbcc;
}
.subscription a:hover{
    color: #2c9091;
}
.tags .ti-tag{
    float: left;
}
.call-to-action h2,.call-to-action p {
    color:white
}
.call-to-action .container .overlay{
    background: rgba(60, 60, 60, 0.5);
    background-size: cover;
    background-blend-mode: multiply;
}
.call-to-action .btn-main{
    margin-bottom: 10px;

}
.card-speaker *{
    color:white;
}
.card-speaker .card{
    background-color: inherit;
    border: 2px solid teal;
}
.card-speaker .card .row{
    margin:10px;
}
.card-speaker .card .row figure img{
    border-radius: 5px;
}
.up-speaker{
    display: inline-block;
}
.up-speaker figure{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 70%;
    border: 2px solid #2c9091;
}
.announcement{
    background: teal;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 58px;
    z-index: 1020;
}
.announcement-text{
    animation: blinkingText 1s infinite;
}
@keyframes blinkingText { 
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
.fig img{
    max-width: 100%;
    height: auto;
}
.bio_author_image{
    display: inline-block;
}
.bio_author_image.client-thumb img{
    border-radius: 50%;
    margin: 0 auto;
    max-width: 230px;
    width: 100%;
}
.bio_author_image figure{
    display: inline-block;
    border-radius: 74%;
    overflow: hidden;
    width: 80%;
    border: 2px solid #2c9091;
}