{{ if gt site.RegularPages 0}}

{{ $data := index site.Data site.Language.Lang }}
{{$title := $data.bios.bios.title}}
{{$bg_image := $data.bios.bios.bg_image}}
{{$bg_image_webp := $data.bios.bios.bg_image_webp}}
{{$content := $data.bios.bios.content}}
{{"<!-- Start bios Section -->" | safeHTML}}
<section id="bios" class="section" style='background-image: url("{{ $bg_image_webp | absURL }}")'>
<img class="lozad" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ $bg_image | absURL }})'" data-src="{{ $bg_image_webp | absURL }}" />
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2><span class="color">{{ $title }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			 <div class="post-single-content">
          		{{ $content }}
        	</div>
			<!-- {{ range first 3 (where .Pages "Section" "==" "bios")}}
			{{ .Render "bio_article"}}
			{{ end }} -->
			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main" href="{{ `bios` | absLangURL }}">View Biographies</a>
			</div>
			{{"<!-- /section title -->" | safeHTML}}
		</div>
	</div>
</section>
{{"<!-- /bios -->" | safeHTML}}
{{ end }}
