<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
    <div class="post-block">
      {{ $imagewbp := .Params.Image_webp }}
      {{ $image := .Params.Image }}
      {{with .Params.Image_webp}}
        <div class="media-wrapper">
          <img class="img-fluid lozad" data-src="{{ $imagewbp | absURL }}" onerror="this.onerror=null;this.src='{{ $image | absURL }}'">
        </div>
      {{end}}
      <div class="content">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p>{{ .Summary }}</p>
        {{ $speakers := .Params.speakers }}
        {{ if gt ( len $speakers) 0 }}
          <div class="col-lg-8 offset-lg-2 mb-3">
            {{ range $speakers }}
            {{ $imagewbp := .speaker_image_webp }}
            {{ $image := .speaker_image }}
            {{ $name := .speaker_name }}
                {{with .speaker_image}}
                  <div class="client-thumb speaker">
                    <figure>
                      <img class="img-fluid lozad" data-src="{{ $imagewbp | absURL }}" onerror="this.onerror=null;this.src='{{ $image | absURL }}'" alt="{{ $name }}">
                    </figure>
                  </div>
                {{end}}
            {{end}}
          </div>
        {{end}}
        <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
      </div>
    </div>
  </article>
  